.headLine {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}
.headLine svg {
    width: 430px;
}
.menus {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double #000;
}
.menus button {
    border: none;
    background: none;
    margin: 5px;
}
.menus button:hover {
    background-color: #ebebeb;
}
.newsImgSize {
    max-width: 100%;
    max-height: 250px;
}
.news {
    border-bottom: 2px solid black;
}

/* 검색창 스타일 */
#input {
    display: none; /* 초기에 숨김 */
    border: none;
    border-bottom: 2px solid black;
}
#input.active {
    display: block; /* "active" 클래스가 추가되면 나타남 */
}
.search {
    display: flex;
    margin-top: 20px;
}
#searchButton {
    border: none;
    background: none;
}

/* 햄버거바 스타일 */
.openNav {
    /* 일단 숨겨놓기 */
    display: none;
}
.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sideNav .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}
.sideNav button {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 1em;
    background: none;
    color: white;
    font-weight: bold;
}

/* 페이지네이션 */
.pagination{
    justify-content: center;
    text-align: center;
}
.pagination2 {
    display: flex;
    justify-content: center;
    padding: 0;
}
.pagination li {
    list-style-type: none;
}
.pagination li a.page-link{
    color: #818181;
    font-size: 15px;
    font-weight: 200;
    line-height: 35px;
    height: 35px;
    width: 40px;
    padding: 0;
    margin: 0 7px;
    border: none;
    border-radius: 0;
    border-bottom: 4px double #000;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link{
    color: #fff;
    background: #000;
    font-size: 20px;
    font-weight: 200;
    line-height: 40px;
    height: 40px;
    cursor: pointer;
}
.pagination li:first-child a.page-link,
.pagination li:last-child a.page-link{
    border-radius: 0;
}

@media (max-width: 570px) {
    /* 모바일 일 때 기존 메뉴 숨기고 햄버거바 나타내기 */
    .menus {
        display: none;
    }
    .openNav {
        display: block;
        margin-top: 20px;
    }
    .section1 {
        display: flex;
    }
    .page-item {
        display: none;
    }
    .active,
    .preToPage,
    .nextToPage {
        display: flex;
    }
}